<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="js/vue.js" charset="utf-8"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="sharepic/selectItem.js" charset="utf-8"></script>
    <script src="sharepic/main.js" charset="utf-8"></script>
    <link rel="stylesheet" href="sharepic/master.css">

    <script type="text/javascript">
      window.addEventListener("resize", fixSizing);
      window.addEventListener("load", fixSizing);
      function fixSizing(event) {
        const ratio = window.innerWidth / window.innerHeight;

        document.body.classList.remove(ratio >= 1 ? "fix-height" : "fix-width");
        document.body.classList.add(ratio >= 1 ? "fix-width" : "fix-height");
      }



    </script>

    <style id="font-sheet">
      @font-face {
        font-family: "Jost";
        src: url("fonts/jost.ttf");
      }
      @font-face {
        font-family: "Jost-900-Black";
        src: url("fonts/Jost-900-Black.ttf");
      }
      @font-face {
        font-family: "Merriweather";
        src: url("fonts/Merriweather-Light.otf");
      }
    </style>

    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>

    <title>Sharepicify</title>
  </head>
  <body>
    <div class="navigation" v-bind:class="{ hidden: !show }">
      <ul class="templates-list">
        <li v-for="template in templates" v-on:click="selectTemplate" v-bind:class="{ 'selected': templates.indexOf(template) == selected }">
          <div class="preview" v-bind:style="{ 'background-image': 'url(\'' + template.preview + '\')' }">

          </div>
          <div class="label">
            {{ template.name }}
          </div>
        </li>
      </ul>
      <div class="btn-show" v-on:click="show = !show">
        <svg v-if="!show" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
          <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
        </svg>
        <svg v-if="show" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64">
          <path fill="#fff" d="M3.352,48.296l28.56-28.328l28.58,28.347c0.397,0.394,0.917,0.59,1.436,0.59c0.52,0,1.04-0.196,1.436-0.59   c0.793-0.787,0.793-2.062,0-2.849l-29.98-29.735c-0.2-0.2-0.494-0.375-0.757-0.475c-0.75-0.282-1.597-0.107-2.166,0.456   L0.479,45.447c-0.793,0.787-0.793,2.062,0,2.849C1.273,49.082,2.558,49.082,3.352,48.296z"/>
        </svg>
      </div>
    </div>
    <div class="app sharepic-app">
      <div class="tools">
        <ul>

        </ul>
      </div>
      <div class="preview">

      </div>
    </div>

    <div class="load-screen">
      <div class="progress-bar">
        <div class="progress-value">

        </div>
      </div>
    </div>

    <div class="export" v-bind:class="{ 'show': show }">
      <div class="export-popup">
        <div class="controls">
          <button class="btn-close" v-on:click="close">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 357 357" >
            	<polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5" fill="#fff" />
            </svg>
          </button>
        </div>
        <div class="render-image">
          <img v-bind:src="src" alt="Share Pic">
        </div>
      </div>
    </div>

    <div class="warning">
      <div class="popup">
        <h1 class="title">Schwierig...</h1>
        <div class="icon">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 35 35" xml:space="preserve">
            <g>
            	<path fill="#fff" d="M25.302,0H9.698c-1.3,0-2.363,1.063-2.363,2.364v30.271C7.335,33.936,8.398,35,9.698,35h15.604
            		c1.303,0,2.363-1.062,2.363-2.364V2.364C27.665,1.063,26.604,0,25.302,0z M15.004,1.704h4.992c0.157,0,0.286,0.128,0.286,0.287
            		c0,0.158-0.129,0.286-0.286,0.286h-4.992c-0.158,0-0.286-0.128-0.286-0.286C14.718,1.832,14.846,1.704,15.004,1.704z M17.5,33.818
            		c-0.652,0-1.184-0.529-1.184-1.183s0.529-1.182,1.184-1.182c0.655,0,1.185,0.528,1.185,1.182S18.152,33.818,17.5,33.818z
            		 M26.022,30.625H8.981V3.749h17.042V30.625z M17.5,19.195c2.265,0,4.392,0.882,5.989,2.481c0.23,0.232,0.23,0.607,0,0.839
            		c-0.23,0.232-0.606,0.232-0.84,0c-1.375-1.375-3.205-2.134-5.149-2.134c-1.945,0-3.773,0.759-5.15,2.134
            		c-0.231,0.232-0.607,0.232-0.84,0c-0.23-0.23-0.23-0.606,0-0.839C13.109,20.077,15.236,19.195,17.5,19.195z M16.164,13.012
            		c0,0.794-0.645,1.438-1.438,1.438c-0.795,0-1.439-0.644-1.439-1.438c0-0.795,0.645-1.438,1.439-1.438
            		C15.52,11.573,16.164,12.217,16.164,13.012z M21.713,13.012c0,0.794-0.646,1.438-1.438,1.438c-0.795,0-1.438-0.644-1.438-1.438
            		c0-0.795,0.646-1.438,1.438-1.438C21.067,11.573,21.713,12.217,21.713,13.012z"/>
            </g>
          </svg>
        </div>
        <div class="message">
          Dein Browser unterstützt eventuell nicht alle Feautures. Das <strong>ToolPic</strong> arbeitet mit modernsten Web-Techniken.
          Darunter der ES7 Standard und moderne Feautures von SVG-Vektorgrafiken.
          Leider macht dein Browser den Eindruck, veraltet zu sein und gewisse Feautures davon nicht zu unterstützen.
          <br><br>
          Damit alles rund und probemlos läuft, empfehlen wir einen modernen Chrome, Opera oder Safari.
          <div class="best-choice">
            <ul class="device-list">
              <li>
                <div class="icon-browser">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 317.452 317.452" style="enable-background:new 0 0 317.452 317.452;" xml:space="preserve">
                  	 <path fill="#fff" d="M158.726,0C71.064,0,0,71.064,0,158.726s71.064,158.726,158.726,158.726s158.726-71.064,158.726-158.726
                  	 	S246.388,0,158.726,0z M158.726,294.777c-75.145,0-136.051-60.905-136.051-136.051S83.581,22.675,158.726,22.675
                  	 	s136.051,60.905,136.051,136.051S233.871,294.777,158.726,294.777z M128.591,137.978c-0.726,0.998-1.519,1.905-2.154,2.993
                  	 	c-4.512,7.8-5.487,16.644-3.56,24.784l-23.673,90.383l61.246-64.624c10.068-1.383,19.41-7.097,24.897-16.553
                  	 	c1.315-2.29,2.268-4.671,3.016-7.097l4.376,2.2l25.51-120.11l-93.535,86.098L128.591,137.978z M146.073,152.286
                  	 	c0.93-1.61,2.245-2.789,3.696-3.719l17.233,8.617c0.159,2.199-0.113,4.422-1.292,6.462c-3.129,5.419-10.068,7.279-15.487,4.15
                  	 	C144.803,164.644,142.944,157.728,146.073,152.286z"/>

                  </svg>
                </div>
                <div class="description-browser">
                  Safari
                </div>
                <div class="devices-description">
                  iPhone, iPad, Mac
                </div>
              </li>
              <li>
                <div class="icon-browser">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 viewBox="0 0 305 305" style="enable-background:new 0 0 305 305;" xml:space="preserve">
                  	 <path fill="#fff" d="M95.506,152.511c0,31.426,25.567,56.991,56.994,56.991c31.425,0,56.99-25.566,56.99-56.991
                  	 	c0-31.426-25.565-56.993-56.99-56.993C121.073,95.518,95.506,121.085,95.506,152.511z"/>
                  	 <path fill="#fff" d="M283.733,77.281c0.444-0.781,0.436-1.74-0.023-2.513c-13.275-22.358-32.167-41.086-54.633-54.159
                  	 	C205.922,7.134,179.441,0.012,152.5,0.012c-46.625,0-90.077,20.924-119.215,57.407c-0.643,0.804-0.727,1.919-0.212,2.81
                  	 	l42.93,74.355c0.45,0.78,1.28,1.25,2.164,1.25c0.112,0,0.226-0.008,0.339-0.023c1.006-0.137,1.829-0.869,2.083-1.852
                  	 	c8.465-32.799,38.036-55.706,71.911-55.706c2.102,0,4.273,0.096,6.455,0.282c0.071,0.007,0.143,0.01,0.214,0.01H281.56
                  	 	C282.459,78.545,283.289,78.063,283.733,77.281z"/>
                  	 <path fill="#fff" d="M175.035,224.936c-0.621-0.803-1.663-1.148-2.646-0.876c-6.457,1.798-13.148,2.709-19.889,2.709
                  	 	c-28.641,0-55.038-16.798-67.251-42.794c-0.03-0.064-0.063-0.126-0.098-0.188L23.911,77.719c-0.446-0.775-1.272-1.25-2.165-1.25
                  	 	c-0.004,0-0.009,0-0.013,0c-0.898,0.005-1.725,0.49-2.165,1.272C6.767,100.456,0,126.311,0,152.511
                  	 	c0,36.755,13.26,72.258,37.337,99.969c23.838,27.435,56.656,45.49,92.411,50.84c0.124,0.019,0.248,0.027,0.371,0.027
                  	 	c0.883,0,1.713-0.47,2.164-1.25l42.941-74.378C175.732,226.839,175.657,225.739,175.035,224.936z"/>
                  	 <path fill="#fff" d="M292.175,95.226h-85.974c-1.016,0-1.931,0.615-2.314,1.555c-0.384,0.94-0.161,2.02,0.564,2.73
                  	 	c14.385,14.102,22.307,32.924,22.307,53c0,15.198-4.586,29.824-13.263,42.298c-0.04,0.058-0.077,0.117-0.112,0.178l-61.346,106.252
                  	 	c-0.449,0.778-0.446,1.737,0.007,2.513c0.449,0.767,1.271,1.237,2.158,1.237c0.009,0,0.019,0,0.028,0
                  	 	c40.37-0.45,78.253-16.511,106.669-45.222C289.338,231.032,305,192.941,305,152.511c0-19.217-3.532-37.956-10.498-55.698
                  	 	C294.126,95.855,293.203,95.226,292.175,95.226z"/>

                  </svg>
                </div>
                <div class="description-browser">
                  Chrome
                </div>
                <div class="devices-description">
                  Android, Windows, Linux, Mac
                </div>
              </li>
              <li>
                <div class="icon-browser">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512" height="512">
                  	<path fill="#fff"  d="M253.7,0C117.972,0,0,96.652,0,257c0,154.483,112.704,255,254.9,255C378.8,512,512,429.5,512,248.299    C512,86.6,382.099,0,253.7,0z M257.3,458.299c-0.901,0-0.901,0-0.901,0C184.701,458.299,154.1,395.9,154.1,249.2    c0-84,10.499-195.601,101.999-195.601h1.501C349.4,53.599,359.9,165.2,359.9,249.2C359.9,395.9,329.299,458.299,257.3,458.299z"/>
                  </svg>
                </div>
                <div class="description-browser">
                  Opera
                </div>
                <div class="devices-description">
                  Windows, Linux, Mac
                </div>
              </li>
            </ul>
            <button class="btn-ok">Scheiß drauf. Mach das weg.</button>
          </div>
        </div>
      </div>
    </div>

    <div id="test-text">

    </div>

    <img id="draw-img"/>
    <canvas id="render-canvas">

    </canvas>

    <input type="file" id="hidden-file-input">

    <div class="hidden-fonts">
      <span style="font-family: 'Jost';">Test</span>
      <span style="font-family: 'Merriweather';">Test</span>
      <span style="font-family: 'Jost-900-Black';">Test</span>
    </div>

    <script type="text/javascript">
      document.fonts.ready.then(function () {
        //alert('All fonts in use by visible text have loaded.');
        //alert('Roboto loaded? ' + document.fonts.check('1em Roboto'));  // true
      });

      const warningContainer = document.querySelector(".warning");

      const browserSupported = (function() {
        const browserHandlers = {
          Safari(version) {
            return version >= 10.1;
          },
          Chrome(version) {
            return version >= 55;
          },
          Opera() {
            return version >= 42;
          },
          Firefox() {
            return false;
          },
          IE() {
            return false;
          },
          Edge() {
            return false;
          }
        };



        const browser = get_browser();
        if (browser.name in browserHandlers) {
          var supporting = browserHandlers[browser.name](parseFloat(browser.version));
        }
        if (!supporting) {
          warningContainer.style.display = "block";
        }
      })();

      document.querySelector(".btn-ok").addEventListener("click", function() {

        warningContainer.style.display = "none";
      });

      function get_browser() {
        var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
        if(/trident/i.test(M[1])){
            tem=/\brv[ :]+(\d+)/g.exec(ua) || [];
            return {name:'IE',version:(tem[1]||'')};
            }
        if(M[1]==='Chrome'){
            tem=ua.match(/\bOPR|Edge\/(\d+)/)
            if(tem!=null)   {return {name:'Opera', version:tem[1]};}
            }
        M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
        if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
        return {
          name: M[0],
          version: M[1]
        };
    }

      function getBrowserName() {

        var browsers = {
          opera: (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0,
          firefox: typeof InstallTrigger !== 'undefined',
          safari: /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification)),
          ie: /*@cc_on!@*/false || !!document.documentMode,
          chrome: !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime)
        };
        for (var i = 0; i < Object.keys(browsers).length; i++) {
          var browser = Object.keys(browsers)[i];
          var value = browsers[Object.keys(browsers)[i]];
          if (value) {
            return browser;
          }
        }
      }
    </script>

  </body>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="sharepic/canvg.min.js" charset="utf-8"></script>
</html>
